{#
  Copyright 2025 The Torch-Spyre Authors.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
#}
{{signature_out}} spyre__{{ template_data.op_name }}({{signature_in}}) {
  DEBUGINFO("Tensor is on: ", (*{{ arguments[0].name }}.begin()).device());

  {% if "out" in overload_name %}
    {% set out_given = True %}
    {% set output_variable_name = "out" %}
    {% set arguments = arguments[:-1] %}
  {% else %}
    {% set out_given = False %}
    {% if returns|length > 0 %}
      {% set output_variable_name = returns[0].name %}
    {% else %}
      {% set output_variable_name = "out" %}
    {% endif %}
  {% endif %}

  {% if not out_given %}
  std::vector<at::IntArrayRef>inp_sizes_vector;
  for (const auto& tensor: {{ arguments[0].name }}) {
    inp_sizes_vector.push_back(tensor.sizes());
  }

  auto out_shape_stride = getOutputShapeStrideForConcat(inp_sizes_vector, dim, {{ "true" if "stack" in template_data.op_name else "false" }});
  auto {{ output_variable_name }} = spyre_empty_strided(
    out_shape_stride.first,
    out_shape_stride.second,
    (*{{ arguments[0].name }}.begin()).scalar_type(),
    (*{{ arguments[0].name }}.begin()).layout(),
    (*{{ arguments[0].name }}.begin()).device(),
    (*{{ arguments[0].name }}.begin()).is_pinned()
  );
  {% endif %}

  std::string graph_label = {{ template_data.op_label }};
  {% for idx in sendnn_arg_order_list %}
    {% if arguments[idx].sendnn_type == "int" %}
  graph_label += "__" + std::to_string({{ arguments[idx].name }});
    {% elif arguments[idx].sendnn_type == "Default" %}
  graph_label += "__" + std::to_string({{ arguments[idx].default }});
    {% elif arguments[idx].sendnn_type == "ByPass" %}
  graph_label += "__" + std::to_string({{ arguments[idx].name }});
    {% endif %}
  {% endfor %}

  std::optional<sendnn::GraphLoader> opt_gl = spyre::getCachedGraphLoader(graph_label, {{ output_variable_name }}.sizes(), {{ output_variable_name }}.strides());

  sendnn::GraphLoader gl;
  if (opt_gl.has_value()) {
    gl = opt_gl.value();
  } else {
    sendnn::GraphBuilder gb;
  
    {% for idx in sendnn_arg_order_list %}
      {% if arguments[idx].sendnn_type == "PrimaryInputList" %}
    std::vector<sendnn::NodeOrIndexedNode> inp_{{ loop.index }};
    int list_idx = 0;
    for (const auto& tensor : {{ arguments[idx].name }}) {
      inp_{{ loop.index }}.push_back(gb.PrimaryInput("Input{{ loop.index }}_" + std::to_string(list_idx), getTensorInfo(tensor)));
      list_idx++;
    }
      {% elif arguments[idx].sendnn_type == "int" %}
    auto inp_{{ loop.index }} = static_cast<{{ arguments[idx].sendnn_type }}>({{ arguments[idx].name }});
      {% elif arguments[idx].sendnn_type == "ByPass" %}
    auto inp_{{ loop.index }} = {{ arguments[idx].name }};
      {% endif %}
    {% endfor %}

    sendnn::TensorInfo ti = getTensorInfo({{ output_variable_name }});

    auto r = gb.{{ template_data.sendnn_func_name }}(graph_label, ti{% for idx in sendnn_arg_order_list %}, inp_{{ loop.index }}{% endfor %});
    gb.PrimaryOutput("Output", r);

    gl = prepareGraphLoader(&gb);
    gl = parseGraphLoader(gl);
    if ({{ arguments[0].name }}.size() > 1) {
      auto predict_s = gl.Predict(sendnn::Outputs(), {createInputTensor(gl, (*{{ arguments[0].name }}.begin()).storage().data_ptr().get())}, 1);
    } else {
      auto predict_s = gl.Predict(sendnn::Outputs(), sendnn::Inputs());
    }
    storeCachedGraphLoader(graph_label, {{ output_variable_name }}.sizes(), {{ output_variable_name }}.strides(), gl);
  }

  uint64_t sn_index = 1 + (1 ? tensors.size() > 1 : 0);
  std::vector<sendnn::ConstTensor> input_sendnn_tensor_vector;
  unsigned int input_index = 0;
  for (const auto& tensor : {{ arguments[0].name }}) {
    auto& input_sendnn_tensor = input_sendnn_tensor_vector.emplace_back(createInputTensor(gl, tensor.storage().data_ptr().get(), input_index, sn_index));
    input_sendnn_tensor.SetSpyreData((static_cast<SharedOwnerCtx*>(tensor.storage().data_ptr().get_context()))->owner);
    input_index++;
  }

  auto output_sendnn_tensor = createOutputTensor(gl, {{ output_variable_name }}.storage().data_ptr().get(), 0, sn_index);
  output_sendnn_tensor.SetSpyreData((static_cast<SharedOwnerCtx*>({{ output_variable_name }}.storage().data_ptr().get_context()))->owner);

  auto copy_status = gl.Compute({output_sendnn_tensor}, input_sendnn_tensor_vector, sn_index);

  {% if returns|length > 0 %}
  return {{ returns[0].name }};
  {% endif %}
}

TORCH_LIBRARY_IMPL(aten, PrivateUse1, m) {
  m.impl({{ template_data.reg_name }}, TORCH_FN(spyre__{{ template_data.op_name }}));
}
