{#
  Copyright 2025 The Torch-Spyre Authors.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
#}
{{signature_out}} spyre__{{ template_data.op_name }}({{signature_in}}) {
  DEBUGINFO("Tensor is on: ", {{ arguments[0].name }}.device());
  
  {% if "out" in overload_name %}
    {% set out_given = True %}
    {% set output_variable_name = "out" %}
    {% set arguments = arguments[:-1] %}
  {% else %}
    {% set out_given = False %}
    {% if returns|length > 0 %}
      {% set output_variable_name = returns[0].name %}
    {% else %}
      {% if inplace %}
        {% set output_variable_name = arguments[0].name %}
      {% else %}
        {% set output_variable_name = "out" %}
      {% endif %}
    {% endif %}
  {% endif %}

  {% if not out_given and not inplace %}
    {{signature_out}} {{ output_variable_name }};
  {% endif %}

  // TODO: on-device view ops requires custom strides or stride manipulation following stickification logic
  if ({{ arguments[0].name }}.is_privateuseone()) {
    // if ({{ arguments[0].name }}.is_contiguous()) {
    {{ output_variable_name }} = at::native::{{ operator_name }}({{ arguments[0].name }}.to(c10::kCPU){{"" if arguments|length == 1 else "," }}{% for arg in arguments[1:] %}{{ C10_AS_INTARRAYREF_SLOW(arg.name) if "Sym" in arg.type else arg.name}}{{" " if loop.last else "," }}{% endfor %}).contiguous().to(c10::kPrivateUse1);
    // }
    // else {
    //   {{ output_variable_name }} = at::native::{{ operator_name }}({{ arguments[0].name }}.to(c10::kCPU).contiguous(){{"" if arguments|length == 1 else "," }}{% for arg in arguments[1:] %}{{ C10_AS_INTARRAYREF_SLOW(arg.name) if "Sym" in arg.type else arg.name}}{{" " if loop.last else "," }}{% endfor %}).contiguous().to(c10::kPrivateUse1);
    // }
  }
  else {
    {{ output_variable_name }} = at::native::{{ operator_name }}({% for arg in arguments %}{{ C10_AS_INTARRAYREF_SLOW(arg.name) if "Sym" in arg.type else arg.name}}{{" " if loop.last else "," }}{% endfor %});
  }

  return {{ output_variable_name }};
}

TORCH_LIBRARY_IMPL(aten, PrivateUse1, m) {
  m.impl({{ template_data.reg_name }}, TORCH_FN(spyre__{{ template_data.op_name }}));
}
