version: 2

updates:
  # Update action versions in workflows
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
    commit-message:
      prefix: '[INFRA][CI] '

  # Update dependencies (except torch) in pyproject.toml
  - package-ecosystem: pip
    directory: /
    schedule:
      interval: weekly
    open-pull-requests-limit: 1
    groups:
      all-dependencies:
        patterns:
          - '*'
    ignore:
      - dependency-name: torch
