default_install_hook_types:
  - pre-commit
  - commit-msg
default_stages:
  - pre-commit # Run locally
  - manual # Run in CI
repos:
  # ruff format --check --diff
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.12.7
  hooks:
  - id: ruff
    args: [--output-format, github, --fix]
  - id: ruff-format
    args: [--check]
- repo: https://github.com/jackdewinter/pymarkdown
  rev: v0.9.31
  hooks:
  - id: pymarkdown
    exclude: '.*\.inc\.md'
    args: [fix]
- repo: https://github.com/rhysd/actionlint
  rev: v1.7.7
  hooks:
  - id: actionlint
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v20.1.8
  hooks:
    - id: clang-format
      args: [--style=file, -i, --verbose, --Werror]
      files: \.(cpp|hpp|cc|hh|c|h)$  # Adjust for your file extensions
- repo: https://github.com/cpplint/cpplint
  rev: 2.0.2
  hooks:
    - id: cpplint
      args: [
        "--filter=-whitespace/braces,-whitespace/indent_namespace,-build/include_order,-build/include_subdir ",
        "--extensions=cpp,h ",
        --exclude=codegen/inputs/RegistrationDeclarations.h
      ]
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.11.1  # use the latest stable version
  hooks:
    - id: mypy
      name: mypy (type checking)
      language: system
      types: [python]
      args: 
          - --config-file=pyproject.toml
          - torch_spyre
          - tests
      pass_filenames: false
- repo: local
  hooks:
  - id: clang-format-local
    name: clang-format
    entry: tools/clang-format-hook.sh 
    language: system
    files: \.(cpp|hpp|cc|hh|c|h)$
    stages: [manual] # Don't run in CI
  - id: check-requirements-dev
    name: Check requirements/dev.txt sync
    entry: tools/check-requirements.sh
    language: system
    files: pyproject.toml
    pass_filenames: false
  - id: mypy-local
    name: Run mypy for local Python installation
    entry: tools/mypy.sh 0 "local"
    language: python
    types: [python]
    additional_dependencies: &mypy_deps [mypy==1.11.1, types-cachetools, types-setuptools, types-PyYAML, types-requests, pydantic]
    stages: [manual] # Don't run in CI
  - id: mypy-3.10 # TODO: Use https://github.com/pre-commit/mirrors-mypy when mypy setup is less awkward
    name: Run mypy for Python 3.10
    entry: tools/mypy.sh 1 "3.10"
    language: python
    types: [python]
    additional_dependencies: *mypy_deps
    stages: [manual] # Only run in CI
  - id: mypy-3.11 # TODO: Use https://github.com/pre-commit/mirrors-mypy when mypy setup is less awkward
    name: Run mypy for Python 3.11
    entry: tools/mypy.sh 1 "3.11"
    language: python
    types: [python]
    additional_dependencies: *mypy_deps
    stages: [manual] # Only run in CI
  - id: mypy-3.12 # TODO: Use https://github.com/pre-commit/mirrors-mypy when mypy setup is less awkward
    name: Run mypy for Python 3.12
    entry: tools/mypy.sh 1 "3.12"
    language: python
    types: [python]
    additional_dependencies: *mypy_deps
    stages: [manual] # Only run in CI
  - id: signoff-commit
    name: Sign-off Commit
    entry: bash
    args:
      - -c
      - |
        if ! grep -q "^Signed-off-by: $(git config user.name) <$(git config user.email)>" "$(git rev-parse --git-path COMMIT_EDITMSG)"; then
          printf "\nSigned-off-by: $(git config user.name) <$(git config user.email)>\n" >> "$(git rev-parse --git-path COMMIT_EDITMSG)"
        fi
    language: system
    verbose: true
    stages: [commit-msg]
  - id: check-filenames
    name: Check for spaces in all filenames
    entry: bash
    args:
      - -c
      - 'git ls-files | grep " " && echo "Filenames should not contain spaces!" && exit 1 || exit 0'
    language: system
    always_run: true
    pass_filenames: false
  - id: enforce-import-regex-instead-of-re
    name: Enforce import regex as re
    entry: python tools/enforce_regex_import.py
    language: python
    types: [python]
    pass_filenames: false
    additional_dependencies: [regex]
  # Keep `suggestion` last
  - id: suggestion
    name: Suggestion
    entry: bash -c 'echo "To bypass all the pre-commit hooks, add --no-verify to git commit. To skip a specific hook, prefix the commit command with SKIP=<hook-id>."'
    language: system
    verbose: true
    pass_filenames: false
  # Insert new entries above the `suggestion` entry
