#####################################################
#
# List of approvers for torch-spyre repository release-0.5 branch
#
#####################################################
#
# Learn about CODEOWNERS file format:
#  https://help.github.com/en/articles/about-code-owners
#

* @dgrove-oss @tardieu @JRosenkranz @ani300 @ashokponkumar @mudhakar @tehbone @svaidy 
